.overview__pots {
  width: 608px;
  height: 218px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  margin: 0 24px 0 0;
}
.overview__pots-title {
  width: 43px;
  height: 24px;
  font-family: "Text Preset2", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  margin: 32px auto 20px 32px;
}
.overview__pots-button {
  border: none;
  width: 99px;
  height: 21px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 33px 32px 21px auto;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  color: rgb(105, 104, 104);
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.overview__pots-button-img {
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin: 4.5px 0 4.5px 12px;
}
.overview__pots-button:hover {
  cursor: pointer;
  opacity: 1;
}
.overview__pots-info {
  width: 544px;
  height: 110px;
  margin: 0 32px 32px 32px;
  display: flex;
  flex-direction: row;
  border-radius: 20%;
}
.overview__pots-info-main {
  background-color: rgb(248, 244, 240);
  display: flex;
  border-radius: 15px;
}
.overview__pots-info-main-icon {
  width: 40px;
  height: 40px;
  margin: 35px 15px 35px 16px;
}
.overview__pots-info-main-total {
  width: 86px;
  height: 70px;
  margin: 20px 89px 20px 0;
}

.overview__pots-info-main-total-title {
  width: 76px;
  height: 21px;
  color: rgb(105, 104, 104);
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 0;
}
.overview__pots-info-main-total-num {
  color: rgb(32, 31, 36);
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  margin: 11px 0 0 0;
}

.overview__pots-info-second {
  width: 100%;
  height: auto;
  margin: 0 32px 36px 0;
}

.overview__pots-info-second-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4px 0 4px 20px;
  height: auto;
}

.overview__pots-info-second-list-item {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 0;
  padding: 0;
  width: calc(50% - 16px);
  height: auto;
  border-left: 5px solid rgb(39, 124, 120);
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.overview__pots-info-second-list-item-title {
  margin: 0 65px 4px 16px;
  color: rgb(105, 104, 104);
  font-family: "Text Preset5", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  white-space: nowrap;
}

.overview__pots-info-second-list-item-num {
  color: rgb(32, 31, 36);
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 0 75px 0 16px;
}
