.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
  transition: visibility 1s, opacity 0.5s linear;
  opacity: 1;
}
.modal__content {
  background-color: white;
  position: relative;
  padding: 32px 32px 32px 32px;
  max-width: 560px;
  max-height: 490px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal__title {
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  margin: 0;
  max-width: 255px;
  height: 38px;
  white-space: nowrap;
}

.modal__close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  margin: 0 0 0 auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.modal__text {
  margin: 20px 0 20px 0;
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgb(105, 104, 104);
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.modal__label {
  font-family: "Text Preset5 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  max-width: 496px;
  color: rgb(105, 104, 104);
  margin-bottom: 16px;
}

.modal__input {
  margin-top: 4px;
  padding: 12px 16px 12px 20px;
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  width: -webkit-fill-available;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border: 1px solid rgb(105, 104, 104);
  border-radius: 5px;
}
.modal__select {
  margin-top: 4px;
  padding: 12px 16px 12px 20px;
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 45px;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border: 1px solid rgb(105, 104, 104);
  border-radius: 5px;
  scrollbar-width: none;
}

.modal__error {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  color: #ff0000;
  margin: 3px auto 0 auto;
}

.modal__add-button {
  width: 124px;
  height: 36px;
  background-color: #0000004d;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  border-color: white;
  cursor: pointer;
}

.Login__button {
  color: #ffffff;
  width: 73px;
  height: 36px;
  background-color: #0000004d;
  border: none;
  margin-top: 15px;
}

.Login__button:hover {
  background-color: black;
  cursor: pointer;
  opacity: 0.8;
}

.Or-Sign-Up__button {
  font-family: "inter", Arial, Helvetica, sans-serif;
  padding: 0;
  border: none;
  color: #2f71e5;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  margin-bottom: 28px;
}

.SignUp__button {
  font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
  width: 360px;
  height: 64px;
  margin: 6px auto 16px auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  border: 1px outset;
  border-radius: 30px;
  background-color: #2f71e5;
  color: #ffffff;
  cursor: pointer;
}
.SignUp__button-disabled {
  font-family: "roboto", "inter", Arial, Helvetica, sans-serif;
  width: 360px;
  height: 64px;
  margin: 6px auto 16px auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  border: 1px outset;
  border-radius: 30px;
  background-color: #e6e8eb;
  color: #b6bcbf;
}

.Or-Login__button {
  font-family: "inter", Arial, Helvetica, sans-serif;
  padding: 0;
  border: none;
  color: #2f71e5;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  margin-bottom: 28px;
}

@media (max-width: 490px) and (min-width: 320px) {
  .modal__content {
    max-width: 320px;
    height: 100%;
    padding: 16px 16px 36px 16px;
  }
  .modal__form {
    flex-wrap: nowrap;
  }
  .modal__input {
    max-width: 288px;
  }
  .SignUp__button,
  .SignUp__button-disabled {
    max-width: 288px;
    margin: 23px 16px 16px 16px;
  }
}

.custom-select {
  position: relative;
  cursor: pointer;
}

.custom-select-trigger {
  padding: 10px;
  border: 1px solid #696868;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.custom-options-open {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}

.custom-options-open {
  display: block;
}
.custom-options {
  display: none;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-option:hover {
  background-color: #f0f0f0;
}
.modal__button {
  width: 100%;
  height: 53px;
  background-color: rgb(32, 31, 36);
  color: white;
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border-radius: 10px;
}
.modal__button:hover {
  background-color: rgb(105, 104, 104);
  cursor: pointer;
  opacity: 0.8;
  transition: 1s;
}
.modal__button-dis {
  width: 100%;
  height: 53px;
  background-color: rgb(201, 71, 54);
  opacity: 0.5;
  color: white;
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border-radius: 10px;
  opacity: 0.5;
}
.modal__button-dis:hover {
  cursor: not-allowed;
  opacity: 1;
}
