.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: max-content;
}
.page {
  max-width: 1440px;
  height: max-content;
  background-color: rgb(248, 244, 240);
  display: grid;
  grid-template-areas: "sidebar main";
  gap: 40px;
  justify-content: start;
}
