.overview__budgets {
  width: 100%;
  height: 410px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 0 0 24px 0;
}

.overview__pots-button {
  border: none;
  width: 99px;
  height: 21px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 33px 32px 21px auto;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  color: rgb(105, 104, 104);
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.overview__budgets-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.overview__budgets-main-pie {
  width: 100%;
  height: 240px;
  display: flex;
  margin: 31px 16px 31px 35px;
}
.overview__budgets-main-pie-img {
  border-style: none;
  margin: 0 auto 0 auto;
}
.overview__budgets-main-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 41px 0 41px 0;
  align-items: flex-end;
}
.overview__budgets-main-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.overview__budgets-main-info-list-item {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 0;
  padding: 0;
  width: calc(50% - 16px);
  height: auto;
  border-left: 5px solid rgb(39, 124, 120);
  box-sizing: border-box;
}
.overview__budgets-main-info-list-item-title {
  margin: 0 0 4px 16px;
  color: rgb(105, 104, 104);
  font-family: "Text Preset5", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  white-space: nowrap;
}
.overview__budgets-main-info-list-item-num {
  color: rgb(32, 31, 36);
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 0 75px 0 16px;
}

@media (max-width: 768px) {
  .overview__budgets {
    width: 100%;
  }
  .overview__budgets-main {
    height: fit-content;
    margin: 0 32px 32px 32px;
  }
  .overview__budgets-main-pie {
    width: 100%;
    margin: 31px 16px 31px 0;
  }
  .overview__budgets-main-pie-img {
    margin: 0 133px 0 133px;
  }
}
