.overview__budgets {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 0 0 24px 0;
}

.overview__pots-button {
  border: none;
  width: 99px;
  height: 21px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 33px 32px 21px auto;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  color: rgb(105, 104, 104);
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.overview__budgets-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.overview__budgets-main-page {
  width: 428px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.overview__budgets-main-pie {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  margin: 11px 16px 11px 10px;
}

.overview__budgets-main-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 41px 0 41px 0;
  align-items: flex-end;
}
.overview__budgets-main-info-page {
  width: 364px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 32px 32px 24px 32px;
}

.overview__budgets-main-info-summary {
  width: 189px;
  height: 24px;
  margin: 0 auto 24px 0;
  font-family: "Text Preset2", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}
.overview__budgets-main-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 296px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
.overview__budgets-main-info-list-item {
  display: flex;
  flex-direction: row;
  margin: 0 16px 16px 0;
  padding: 0;
  width: calc(50% - 16px);
  height: auto;
  box-sizing: border-box;
}
.overview__budgets-main-info-list-item-page {
  display: flex;
  flex-direction: row;
  margin: 0 16px 16px 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.overview__budgets-main-info-list-item-div {
  display: flex;
  flex-direction: row;
}
.overview__budgets-main-info-list-item-div-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.overview__budgets-main-info-list-item-side {
  width: 4px;
  height: 100%;
}
.overview__budgets-main-info-list-item-side-page {
  width: 4px;
  height: 21px;
}
.overview__budgets-main-info-list-item-page-div {
  display: flex;
  width: 100%;
}

.overview__budgets-main-info-list-item-title {
  width: 100%;
  margin: 0 0 4px 16px;
  color: rgb(105, 104, 104);
  font-family: "Text Preset5", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  white-space: nowrap;
}
.overview__budgets-main-info-list-item-num {
  color: rgb(32, 31, 36);
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 0 auto 0 16px;
}
.overview__budgets-main-info-list-item-num-sec {
  width: 55px;
  height: 18px;
  margin: 0 0 0 8px;
  font-family: "Text Preset5", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgb(105, 104, 104);
  white-space: nowrap;
  align-self: center;
}

@media (max-width: 768px) {
  .overview__budgets-main {
    height: fit-content;
  }
  .overview__budgets-main-pie {
    width: 100%;
    margin: 31px 16px 31px 0;
  }
  .overview__budgets-main-pie-img {
    margin: 0 133px 0 133px;
  }
}

@media (max-width: 465px) {
  .overview__budgets {
    height: 583px;
    margin: 0 0 16px 0;
    width: 100%;
    justify-content: center;
  }
  .overview__budgets-main {
    flex-direction: column;
    margin: 0 20px 24px 20px;
  }
  .overview__budgets-main-pie {
    margin: 0 0 16px 0;
    display: flex;
    justify-content: center;
  }
  .overview__budgets-main-pie-img {
    margin: 0 31.5px 0 31.5px;
  }

  .overview__budgets-main-info {
    margin: 0;
  }
  .overview__budgets-main-info-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
