.pots {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pots__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 32px 0;
}
.pots__header-title {
  margin: 9px auto 9px 0;
  width: 100%;
  height: 56px;
  color: rgb(32, 31, 36);
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 120%;
  list-style: none;
}
.pots__header-button {
  padding: 0;
  width: 155px;
  height: 53px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border-radius: 10px;
  border: none;
  white-space: nowrap;
  opacity: 0.8;
}
.pots__header-button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}
.pots__info {
  width: 100%;
  margin: 0 0 32px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pots__info-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 0 0 0 24px;
  list-style: none;
  justify-content: flex-start;
}
.pots__info-elements {
  margin: 0 24px 24px 0;
  width: 518px;
  max-height: 303px;
  background-color: white;
  border-radius: 20px;
  height: 303px;
}

.pots__info-list-item-header {
  margin: 24px 32px 32px 32px;
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.pots__info-list-item-header-dot {
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
}
.pots__info-list-item-header-title {
  width: 138px;
  height: 24px;
  margin: 4px auto 4px 16px;
  font-family: "Text Preset2", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}
.pots__info-list-item-money {
  margin: 0 32px 32px 32px;
  width: auto;
  height: 114px;
}
.pots__info-list-item-money-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 114px;
  margin: 10.5px 0 16px 0;
}
.pots__info-list-item-money-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.pots__info-list-item-money-saved {
  width: 100%;
  margin: 0;
  color: rgb(105, 104, 104);
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.pots__info-list-item-money-saved-num {
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  width: 100%;
  height: 38px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.pots__info-left-elements-item-money-canvas {
  height: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.pots__info-list-item-money-saved-prasentage {
  height: 18px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0 0 0;
}
.pots__info-list-item-money-saved-prasentage-pra {
  margin: 0;
  font-family: "Text Preset5 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgb(105, 104, 104);
}
.pots__info-list-item-money-saved-prasentage-total {
  margin: 0;
  font-family: "Text Preset5", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgb(105, 104, 104);
}

.canvas-div {
  width: 100%;
  height: 39px;
  margin-bottom: 10.5px;
}
.pots__buttons {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pots__buttons-add {
  width: 227px;
  height: 53px;
  background-color: rgb(248, 244, 240);
  border-radius: 10px;
  border: none;
  font-family: "Text Preset4 bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  padding: 0;
  margin: 0 16px 24px 24px;
  opacity: 0.6;
}
.pots__buttons-add:last-child {
  margin-left: 0;
}
.pots__buttons-add:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  opacity: 1;
  transform: scale(1.1);
}
