.bills{
display: flex;
width: 100%;
flex-direction: column;
}
.bills__info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 40px 32px 0;
}
.bills_title{
   margin: 8px auto 32px 0;
  width: 100%;
  height: 56px;
  color: rgb(32, 31, 36);
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 120%;
}

.bills__info__left-side{
  height: 100%;
  width: 337px;
  margin-right: 24px;
}
.bills__info__left-side-img{
    width: 40px;
  height: 40px;
  background-color: transparent;
  margin: 24px auto 32px 24px;
}
.bills__info__left-side-top{
    margin: 0 0 0 0;
    width: 100%;
    height: 190px;
    background-color: rgb(32, 31, 36);
    border-radius: 20px;
}
.bills__info__left-side-main{
    max-width: 289px;
    max-height: 70px;
    margin: 0 24px 24px 24px;
}
.bills__info__left-side-title{
    color: white;
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 0 0 11px 0;
}
.bills__info__left-side-number{
    color: white;
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 120%;
  margin: 0 0 0 0;
}
.bills__info__left-side-summary{
    height: 204px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    margin: 24px auto 324px 0;
}
.bills__info__left-side-summary-title{
    margin: 20px 242px 20px 20px;
    font-weight: bold;
    font-family: "Text Preset3", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 24px;
    padding: 20px 0 0 0;
    
}
.bills__info__left-side-summary-main{
    width: 100%;
    height: 120px;
    margin: 0 20px 20px 20px;
}
.bills__info__left-side-summary-main-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.bills__info__left-side-summary-main-list-item{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(242, 242, 242);
    margin: 0 0 16px 0;
}
.bills__info__left-side-summary-main-list-item-title{
    width: 177px;
    height: 18px;
    font-family: "Text Preset4", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: rgb(32, 31, 36);  
    margin: 0 0 16px 0;
    
}
.bills__info__left-side-summary-main-list-item-number{
    width: 120px;
    height: 18px;
    font-family: "Text Preset4", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: rgb(32, 31, 36);
    margin: 0 0 16px 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bills__info__right-side{
  width: 699px;
  height: fit-content;
  margin: 0 40px 162px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bills__info__right-side-main{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.bills__info__right-side-main-headers{
    width: 100%;
    height: 42px;
    margin: 0 32px 0 32px;
    border-bottom: 1px solid rgb(242, 242, 242);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bills__info__right-side-main-headers-item{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
}
.bills__info__right-side-main-headers-item-textM{
    font-family: "Text Preset5", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0px;
    color: rgb(32, 31, 36);
    width: 319px;
    height: 19px;
    margin: 12px 32px 12px 16px;
}
.bills__info__right-side-main-headers-item-text{
    font-family: "Text Preset5", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0px;
    color: rgb(32, 31, 36);
    width: 100px;
    height: 18px;
    margin: 12px 32px 12px 0;
        display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bills__info__right-side-rest{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}
.bills__info__right-side-filters{
  display: flex;
  width: 100%;
  height: 45px;
  margin: 32px 32px 24px 32px;
}
.bills__info__right-side-filters-label{
    display: flex;
    max-width: 320px;
    height: 45px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Text Preset4", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}
.bills__info__right-side-filters-icon{
  width: 16px;
  height: 16px;
  margin: 14.5px 20px 14.5px 0;
  cursor: pointer;
}
.bills__info__right-side-filters-input{
  padding: 0;
  margin: 12px 16px 12px 20px;
  width: 248px;
  height: 21px;
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border: none;
}