.overview {
  width: 1060px;
  display: flex;
  flex-direction: column;
  margin: 32px 40px 32px 0;
}
.overview__title {
  margin: 8px auto 42px 0;
  width: 100%;
  height: 56px;
  color: rgb(32, 31, 36);
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 120%;
}
.overview__info {
  width: 100%;
  height: 119px;
  display: flex;
  flex-direction: row;
  margin: 0 40px 32px 0;
}
.overview__info-current {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 31, 36);
  border-radius: 20px;
}
.overview__info-current-title {
  color: white;
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 24px auto 12px 24px;
}
.overview__info-current-number {
  color: white;
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 120%;
  margin: 0 auto 24px 24px;
}

.overview__info-rest {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin: 0 0 0 24px;
}
.overview__info-rest-title {
  font-family: "Text Preset4", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  margin: 24px auto 12px 24px;
}
.overview__info-rest-number {
  font-family: "Text Preset1", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 120%;
  margin: 0 auto 24px 24px;
}
